/**
 * Калькулятор корма — стили для сайта
 */

#weight-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px !important;
    height: 16px !important;
    border-radius: 9999px;
    background-color: var(--primary-color);
    cursor: pointer;
}

#weight-range::-moz-range-thumb {
    width: 16px !important;
    height: 16px !important;
    border-radius: 9999px;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
}